@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    background-color: #375B56;
    position: relative;
}
.anim-letters {
    line-height: 22px;
    max-width: 270px;
    font-size: 14px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.anim-letters__word {
    overflow: hidden;
    display: inline-block;
    line-height: 0;
}

.anim-letters__letter-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    line-height: 0;
}

.anim-letters__letter {
    overflow: hidden;
    position: relative;
    display: inline-block;
    line-height: 1.15;
    transform-origin: left;
}

/* DOOR */
.door{
    position: absolute;
    bottom: 0;
    width: 350px;
    height: 500px;
    left: calc(50% - 175px);
    position: relative;
    border-radius: 230px 230px 0 0;
    overflow: hidden;
}
.door .inner{
    transform-origin: bottom;
}
.door .left{
    width: 50%;
    background-color: white;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.door .right{
    width: 50%;
    background-color: white;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}